<div [ngSwitch]="day">
    <div *ngSwitchCase="0">
        <h1>sunday</h1>
    </div>
    <div *ngSwitchCase="1">
        <h1>monday</h1>
    </div>
    <div *ngSwitchCase="2">
        <h1>tuesday</h1>
    </div>
    <div *ngSwitchCase="3">
        <h1>wednesday</h1>
    </div>
    <div *ngSwitchCase="4">
        <h1>thursday</h1>
    </div>
    <div *ngSwitchCase="5">
        <h1>friday</h1>
    </div>
    <div *ngSwitchCase="6">
        <h1>saturday</h1>
    </div>
    <div *ngSwitchDefault>
        <h1>Invalid</h1>
    </div>

</div>
