<!-- <app-about></app-about>
<app-string></app-string>
<app-property></app-property>
<app-event></app-event>
<app-countevent></app-countevent>
<app-twowaydatabinding></app-twowaydatabinding>
<app-npifdirectives></app-npifdirectives>
<app-ifelse-dir></app-ifelse-dir>
<app-switch-dir></app-switch-dir>
<app-for-dir></app-for-dir>
<app-arrayobj></app-arrayobj>
<app-ng-style></app-ng-style>
<app-ng-class></app-ng-class>
<app-pipes></app-pipes> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>